@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: #020617;
  color: #e2e8f0; /* 🔥 no blanco puro */
}

.download-btn {
  padding: 12px 24px;
  border-radius: 10px;
  background: #e11d48;
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: all 0.4s ease;
}

.download-btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 25px rgba(225,29,72,0.25);
  background: #be123c;
}